<ion-header class="ion-no-border">
  <div class="select-header">


    <img src="assets/undraw-img/undraw_Analysis_re_w2vd.svg" alt="exam" />

    <div class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-back-button color="primary" text="" defaultHref="/select"></ion-back-button>
      </ion-buttons>

      <div class="custom-title-card" *ngIf="appSelection">
        <p>{{ header.title }}</p>
        <p>{{ header.subTitle }}</p>
        <ion-label *ngIf="showTitleOptions">
          <ion-chip class="customer-ionchip">
            {{ getSession() }}
          </ion-chip>
          <ion-chip class="customer-ionchip">
            {{ getTerm() }}
          </ion-chip>
          <ion-chip class="customer-ionchip">
            {{ getSubject() }}
          </ion-chip>
        </ion-label>

      </div>

    </div>

  </div>
</ion-header>
