.custom-ion-card {
    margin: 10px 0;
}

.score-input {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    text-align: center;
}
.focusIt {
    border: 1px solid rgb(82, 82, 82);

}