<ion-card class="custom-ion-card">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="7">
                <ion-item lines="none">
                    <ion-label>
                        {{ student.firstName }}
                    </ion-label>
                    <ion-label>
                        {{ student.lastName }}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="5">
                <ion-input 
                [ngClass]="{focusIt: focusStatus}"
                (ionFocus)="onFocusIt()"
                (ionBlur)="onBlurIt()"
                class="score-input"
                placeholder="score" 
                type="number"
                inputmode="numeric"
                debounce="500"
                (ionChange)="onInputIt($event)"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
