<app-header [appSelection]="appSelection"></app-header>

<ion-content>
    <div class="custom-body" *ngIf="academicReports$ | async as academicReports">
        <form class="custom-sm">
            <app-score [selection]="appSelection" [student]="student" [academicReports]="academicReports" *ngFor="let student of students"></app-score>
        </form>
    </div>
    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
        <ion-fab-button>
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-title>
          <!--  <i>typing</i> --> 
        </ion-title>
    </ion-toolbar>
</ion-footer> 