<app-header [header]="header" [showTitleOptions]="false"></app-header>
<ion-content>
        <div class="custom-body">
            <form class="custom-sm" [formGroup]="selectionForm">
                <ion-item lines="none" class="custom-items" *ngIf="sessions$ | async as sessions">
                    <ion-label position="stacked">
                        SELECT SESSION
                    </ion-label>
                    <ion-select 
                        placeholder="e.g 2018/2019" 
                        value="" 
                        formControlName="sessionId">
                        <ion-select-option value="{{session.sessionId}}" *ngFor="let session of sessions">{{ session.name }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none" class="custom-items" *ngIf="terms$ | async as terms">
                    <ion-label position="stacked">
                        SELECT TERM
                    </ion-label>
                    <ion-select placeholder="e.g FIRST TERM" formControlName="termId">
                        <ion-select-option value="{{term.termId}}" *ngFor="let term of terms">{{term.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none" class="custom-items" *ngIf="subjects$ | async as subjects">
                    <ion-label position="stacked">
                        SELECT SUBJECT
                    </ion-label>
                    <ion-select placeholder="e.g MATH" formControlName="subjectId">
                        <ion-select-option value="{{subject.subjectId}}" *ngFor="let subject of subjects">{{ subject.name }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item lines="none" class="custom-items">

                    <ion-button 
                    expand="full" 
                    size="large" 
                    shape="round" 
                    color="tertiary"
                    (click)="loadSelection()">
                        continue
                        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
                    </ion-button>
                </ion-item>
            </form>
        </div> 
</ion-content>
